html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 10px;
}

* {
  transition: height 2s;
}

.box {
  background: #777;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  /*padding: 4px;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;

}

.pane {
  position: relative;
  margin: 0;
  background: #444;
  /*border: #000 1px solid;*/
  /*padding: 4px;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.horizontal > .pane {
  float: left;
  height: 100%;
}
.vertical > .pane {
  width: 100%;
}
.ghost, .ghost > .box {
  background: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.ghost > .box > * {
  pointer-events: all;
}
.button:hover {
  filter: brightness(150%);
  border: 0;
}
.track {
  background: #666;
  border: 1px #555 solid;
  height: 70px;
}
.region {
  background: rgb(56, 192, 56);
  border: 2px #090 solid;
  border-radius: 5px;
  height: 70px;
}
.lcd {
  background: rgb(20, 20, 100);
  border-radius: 3px;
}
.topbutton {
  background: #555;
  border-right: 1px #777 solid;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: #666;
}
::-webkit-scrollbar-corner {
  display: none;
}
.fas {
  color: #999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}